body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #750000;
  color: #fff;
  padding: 1em 0;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 2em;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 2em;
}

h2 {
  color: #750000;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

.galeria img {
  width: 300px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.video-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  gap: 1em;
}

input, select, button {
  padding: 0.5em;
  font-size: 1em;
}

button {
  background-color: #750000;
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
  width: 30%;
  align-self: center;
}

button:hover {
  background-color: #a00000;
}

footer {
  text-align: center;
  padding: 2em 1em;
  background-color: #222;
  color: white;
  margin-top: 2em;
}

fieldset {
  border: none;
  margin-bottom: 1.5rem;
}

label {
  display: inline-block;
  margin-right: 1rem;
  cursor: pointer;
}

input[type="radio"] {
  display: none;
}

label img {
  border: 2px solid transparent;
  border-radius: 8px;
  transition: border 0.3s;
}

input[type="radio"]:checked + img {
  border: 2px solid #900; /* borde rojo al seleccionar */
}

